@import url('https://fonts.googleapis.com/css27family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: #1f293a;
}

.container {
    width: 60%;
    padding: 4rem;
}

h2 {
    color: beige;
}

h2 span {
    color: green;
    border-bottom: .1em solid green;
}

.input-box {
    position: relative;
    margin: 25px 0;
}

input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .3s ease;
}

input:focus {
    border-color: white;
}

label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .3s ease;
}

img {
    width: 2em;
    height: 2em;
}

input:focus~label {
    top: 1px;
    font-size: .8em;
    background: #1f293a;
    padding: 0 6px;
    color: #0cf;
}

.btn {
    width: 80%;
    height: 45px;
    background: green;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    padding: 0 0 3em 0;
    font-size: 1rem;
}

.btn img {
    padding: 0;
    margin: 0;
    display: inline-block;
}